*auto/
*.emacs
common/.config/beets/musiclibrary.db
common/.config/beets/state.pickle
common/.config/.mono
common/.config/Fritzing
common/.config/Jackett
common/.config/MusicBrainz
common/.config/Sonarr
common/.config/alacritty
common/.config/beets
common/.config/git
common/.config/gtk-2.0
common/.config/inkscape
common/.config/htop
common/.emacs.d/init.el
common/.config/ParaView/
common/.config/NzbDrone/
common/.config/Radarr/
common/.config/SciDAVis/
common/.config/biolab.si/
common/.config/configstore/
common/.config/emby-server/
common/.config/fish/
common/.config/gh/
common/.config/iterm2/
common/.config/karabiner
common/.config/mc/
common/.config/menus/
common/.config/mpv/
common/.config/nnn/
common/.config/rstudio/
common/.floorc.json
*ccls-cache
*.lastfmrc
*init.lua
common/.doom.d/custom.el

common/.config/Jamulus/Jamulus.ini
common/.config/bpytop/bpytop.conf
common/.config/neofetch/config.conf
common/.config/geany/keybindings.conf
common/.config/geany/geany_mac.conf
common/.config/geany/geany.conf
common/.config/geany/templates/templates.README
common/.config/geany/plugins/scope/scope.conf
common/.config/ytmdl/config
common/.config/geany/plugins/debugger/debugger.conf
common/.config/geany/gtk-3.0/settings.ini
common/.config/geany/filedefs/filetypes.README
common/.config/bpytop/error.log
common/.config/broot/launcher/bash/br
common/.config/broot/launcher/installed-v1
common/.config/broot/conf.hjson
common/.config/raycast
common/.config/rclone
common/.config/wezterm

*.DS_Store*

common/.config/btop
common/.config/gitui
common/.config/github-copilot
common/.config/joplin-desktop
common/.config/thefuck
common/.config/Awesomeness/
