[user]
	email = woquendo@gmail.com
	name = Iluvatar
[core]
	editor = emacs -nw
	pager = less -R
	excludesfile = /Users/oquendo/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[push]
	default = simple
[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	lo = log --oneline --graph
	
[credential]
	helper = cache
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
