[user]
	email = woquendo@gmail.com
	name = Iluvatar
[core]
	editor = emacs -nw
	pager = less -R
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[push]
	default = simple
[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	lo = log --oneline --graph
	
