[user]
	email = wfoquendop@unal.edu.co
	name = Iluvatar
[core]
	excludesfile = /Users/oquendo/.gitignore_global
	editor = emacs -nw
	pager = less -R
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	lo = log --oneline --graph
	
