set input-meta on
set output-meta on
set convert-meta off

# scape
#"\e[1;5D": backward-word
#"\e[1;5C": forward-word

# alt
#"\e[1;9D": backward-word
#"\e[1;9C": forward-word
"\e[1;3D": backward-word	# works for xfce4 terminal
"\e[1;3C": forward-word		# works for xfce4 terminal
"\eh": backward-kill-word # iterm2 : make left option send esc+

# control bindings
"\C-p":previous-history
"\C-n":next-history
"\C-a.":beginning-of-line
"\C-e.":end-of-line
"\C-l":clear-screen
